<div class="container d-flex flex-column justify-content-center align-items-center vh-80 text-center">
  <a routerLink="/">
    <img src="../../content/images/logo.png" alt="Logo" class="image-intro" />
  </a>
  <!-- Bem-vindo -->
  <h1 class="fw-bold">Bem-vindo ao AlunoMetas</h1>

  <!-- Slogan -->
  <p class="lead text-muted">Onde nossa meta é ajudar o aluno a alcançar a sua!</p>

  <!-- Botões visíveis apenas para admin -->
  <div *ngIf="isAdmin()" class="buttons-div">
    <a routerLink="/aluno" class="btn btn-primary">Alunos</a>
    <a routerLink="/meta" class="btn btn-secondary">Metas</a>
  </div>
</div>
